.footer{
    position: fixed;
    bottom: 0px;
    z-index: 999;
    height: 50px;
    width: 100%;
    background: #E6E6E6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    img{
        cursor: pointer;
    }
}