.Container{
    height:87vh;
    width:100%;
    display:flex;
    flex-direction: column;
    // align-items:center;
    background-color: #EEEEEE;
    color: #393E46;
}


.feedPageHeader{
  height: 5vh;
  width: 100%;
}
.startPost{
  position:  absolute;
  bottom: 15%;
  right: 10%;
  height: 50px;
  width: 50px;
  background-color: rgb(17 25 42);
  border-radius: 50%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  img{
    height: 27px;
    width: 25px;
    margin-top: 5px;
    margin-right: 5px;
    color: #cacaca;
  }
}
.ShareBox{
    height:15vh;
    width:90%;
    div{
      height:100%;
      display:flex;
    //   border:1px solid red;
      align-items:center;
      justify-content: center;
      img{
        width:78px;
        height:78px;
        border-radius:50%;
        margin-right:20px;
      }
      button{
        width:70%;
        height:60%;
        border-radius:30px;
        background:transparent;
        border:1px solid #cacaca;
      }
    }
}
.feedFrame{
  width: 100%;
  height: 95vh;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.showCategory{
  position: relative;
  height:60px;
  width: 87%;
  display: flex;
  align-items: center;
  overflow: scroll;
  white-space: nowrap;
  span{
    display: block;
    text-align: center;
    word-wrap: break-word;
    font-size: 16px;
    width: fit-content;
    max-width: 150px;
    padding: 4px 10px;
    border-radius: 18px;
    margin: 0px 6px;
    cursor: pointer;
    white-space: normal;

  }
}
.showCategory::-webkit-scrollbar {
  display: none;
}
 
.feed{
  margin:5px 0px;
  width: 97%;
  border-radius: 15px;
  height: fit-content;
  // border: 1px solid red;
  background-color:#f7f7f7;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  display: flex;
  flex-direction: column;
}
.info{
  margin-top: 5px;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    cursor: pointer;
    margin-left:10px ;
  }
  h5{
    margin-left: 10px;
    cursor: pointer;
  }
}
.description{
  padding: 10px;
  cursor: pointer;
}
.media{
  width: fit-content;
  height: fit-content;
  margin-top: 8px;
  height:220px;
  position: relative;
  img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
  }

}
.social{
  height: 30px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  div{
    display: flex;
    width: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 2px 8px;
    border-radius: 18px;
    cursor: pointer;
  }

}


//----------Comment CSs-------------------
.commentFrame{
  z-index: 5;
  position: absolute;
  bottom: 0px;
  height: 50vh;
  width: 100%;
  border-radius:  50px 50px 0px 0px;
  background-color: hsl(0, 3%, 88%);
  box-shadow: rgb(50 50 93 / 25%) 0px 30px 60px -12px inset, rgb(0 0 0 / 30%) 0px 18px 36px -18px inset;
  
}
.commcursor{
  width: 30%;
  height: 5px;
  background-color: #393E46;
  border-radius: 20px;
  cursor: pointer;
  margin: 9px auto 0px;
}
.inputFrame{
  margin: 10px auto; 
  height: 50px;
  width: 90%;
  input{
    border: none;
    width: 60%;
    height: 50px;
    background-color: transparent;
    border-bottom: 1px solid #393E46;
  } 
  button{
    height: 50px;
    width: 30%;
    background-color: transparent;
    border-radius: 35px;
    cursor: pointer;
    margin-left: 20px;
  }
  input:focus{
    outline: none;
  }
}
.comments{
  height:40vh;
  overflow: scroll;
  width: 100%;
}
.commFrame{
  margin: 10px 15px;
  display: flex;
  img{
    height: 40px;
    width:40px;
    border-radius: 50%;
  }
}
.commFrame::-webkit-scrollbar {
  display: none;
}
.commentBox{
  min-height: 70px;
  height: fit-content;
  min-width: 150px;
  max-width: 250px;
  width: fit-content;
  color: #393e46;
  margin-left: 5px;
  // border:1px solid red;
  padding: 4px;
}
.commentBox{
  background-color: #d6d6d6;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.textedit{
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  font-size: 16px;
  padding: 5px;
  resize: none;
  overflow: hidden;
  outline: none;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
  
  .textedit:focus{
    outline: none;
  }

}




//------------------Explore Css-----------------------

.exploreFrame{
  position:  absolute;
  top: 0px;
  right: 0px;
  height: 100vh;
  width: 50%;
  z-index: 9;
  background-color: #EEEEEE;
  h2{
    margin-top: 10px;
  }
  overflow: scroll;
  .categoryFrame{
    display: flex;
    flex-direction: column;
  }
  .catName{
    display: block;
    margin: 4px 5px;
    font-size: 18px;
    padding: 2px;
    cursor: pointer;
  }
}
 