.frame{
    height: 100vh;
    width: 100%;
    background-image: radial-gradient(94.38% 94.38% at 43.47% 0%, #323232 0%, black 100%);
}
.userCont{
    height: 80%;
    width: 100%;
    border: 1px solid rebeccapurple;
    display: flex;
    flex-wrap: wrap;
}


.box{
    margin: 10px;
    height: 200px;
    width: 35%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }
}