.frame{
    height: 100vh;
    width: 100%;
    background-color: black;
}

.options{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    // align-items:;
    padding: 20px 5px;
    p,select{
        background-color:aliceblue ;
        color:black ;
        min-width: 70px;
        font-size: 14px;
        max-width: 220px;
        padding: 5px 10px;
        border: none;
        border-color: white;
        border-radius: 15px;
        margin: 0px 10px;
        outline: none;
    }
    p{
        font-weight: 500;
        font-size: large;
    }
}

.block{
    background-color: black;
    color:aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
    h1{
        font-size: 45px;
        font-weight: 300;
        padding: 10px 10px;
    }
    input{
        width: 80%;
        background-color: whitesmoke;
        color: black;
        font-size: 20px;
        padding: 10px 10px;
        border: none;
        border-color: white;
        border-radius: 20px;
        outline: none;
    }
}

.block2{
    border-radius: 35px 35px 0px 0px;
    background-color: aliceblue;
    height: 100%;
}

.userCont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
    h1{
        font-size: 30px;
        font-weight: 300;
        padding: 10px 10px;
    }
    p{
        font-size: 20px;
        font-weight: 300;
        padding: 10px 10px;
    }
}

.box{
    color: black;
    // border: 1px solid red;
    border-radius: 20px;
    background-color: white;
    height: 40%;
    width: 100%;
    padding: 15px 15px;
    margin: 10px;
    img{
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    button{
        background-color:black;
        color: aliceblue;
        border: none;
        border-radius: 12px;
        padding: 10px 10px;
        margin: 10px 10px;
        font-size: 15px;
        font-weight: 500;
        outline: none;
    }
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.box:hover{
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}